.instagram {
  /* margin-top: 2rem; */
  background-color: black;
}
.instagram-id {
  margin-left: 13rem;
  margin-bottom: 1rem;
  font-weight: 100;
}
.instagram-images-container {
  background: #ffff !important;
  padding-top: 2rem;
}
.instagram-image {
  width: 23.5rem;
  height: 23.5rem;
}
