.our-vision {
  background-color: #000000;
  padding: 6rem 2rem;
}
.our-vision-img-2,
.our-vision-img-1 {
  border-radius: 8%;
}

.our-vision-img-1 {
  width: 23%;
  height: 40%; /*Todo need work*/
}
.our-vision-img-2 {
  width: 17%;
  height: 21%; /*Todo need work*/
}
.our-vision-text {
  letter-spacing: -1rem;
  background: linear-gradient(to top, transparent 0%, white 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 1000%;
}
.our-vision-description {
  width: 31%; /*570px; */
  height: 35rem;
  font-size: 2.9rem;
  font-weight: bold;
  padding: 3%;
  border-radius: 12px;
  background-color: blue;
}
