.our-vision {
  background-color: #000000;
  margin: 10rem 8rem;
  display: flex;
}
.our-vision-img-2,
.our-vision-img-1 {
  border-radius: 8%;
}

.our-vision-img-1 {
  width: 25%;
  height: 40%; /*Todo need work*/
  margin-right: 0;
}
.our-vision-img-2 {
  margin-top: 12%;
  width: 17%;
  height: 21%; /*Todo need work*/
  margin-left: 0;
}
.our-vision-text {
  letter-spacing: -1rem;
  background: linear-gradient(to top, transparent 0%, white 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 14rem;
  position: absolute;
  left: 20rem;
  top: 10rem;
  z-index: 999; /*to keep text above both images*/
}
.our-vision-description {
  width: 31%; /*570px; */
  height: 28rem;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 3%;
  border-radius: 12px;
  margin-top: 22rem;
  z-index: 999;
  border: 1px solid #164924;
  background-color: black;
}
