/* Mobile Phones - iPhones and Android */
@media (max-width: 766px) {
  .instagram {
    background: white;
  }
  .instagram-images-container {
    padding-top: 0.2rem;
    margin-left: 1rem;
  }
  .instagram-image {
    width: 4rem;
    height: 4rem;
    margin-left: 0rem;
  }
}

/* Tablets - Samsung, iPads, and similar */
@media (min-width: 768px) and (max-width: 1024px) {
  .instagram {
    background: white;
  }
  .instagram-images-container {
    padding-top: 1rem;
    margin-left: 1rem;
  }
  .instagram-image {
    width: 9rem;
    height: 9rem;
  }
}

/* Laptops - 14 inch and 15 inch */
@media (min-width: 1025px) and (max-width: 1440px) {
  .instagram-images-container {
    padding-top: 1rem;
  }
  .instagram-image {
    width: 15rem;
    height: 15rem;
    margin-left: 0.5rem;
  }
}
