/* Mobile Phones - iPhones and Android */
@media (max-width: 767px) {
  .our-company-text {
    margin: 10rem 10rem;
    font-size: 3rem;
    white-space: nowrap;

    /* overflow: hidden; to show full company text*/
  }
}

/* Tablets - Samsung, iPads*/
@media (min-width: 768px) and (max-width: 1024px) {
  .our-company-text {
    margin: 5rem 0rem;
    font-size: 9rem;
    white-space: nowrap;

    /* overflow: hidden; to show full company text*/
  }
}

/* Laptops - 14 inch and 15 inch */
@media (min-width: 1025px) and (max-width: 1440px) {
  .our-company-text {
    margin: 20rem 0;
    font-size: 10rem;
    white-space: nowrap;

    /* overflow: hidden; to show full company text*/
  }

  .horizontal-scroll {
    overflow: hidden;
  }
}
