/* Mobile Phones - iPhones and Android */
@media (max-width: 767px) {
  .meet-the-team-heading {
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .team-member {
    margin-right: 2rem;
  }
  .team-member-img {
    width: 10rem;
  }
}

/* Tablets - Samsung, iPads*/
@media (min-width: 768px) and (max-width: 1024px) {
  .meet-the-team-heading {
    margin-left: 6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .team-member {
    margin-right: 2rem;
  }
  .team-member-img {
    width: 15rem;
  }
}

/* Laptops - 14 inch and 15 inch */
@media (min-width: 1025px) and (max-width: 1440px) {
  .meet-the-team-heading {
    margin-left: 6rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  .team-member {
    margin-right: 2rem;
  }
  .team-member-img {
    width: 17rem;
  }
}
